.form-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 1rem;
}

.email-label {
  font-size: 15px;
  color: hsl(234, 29%, 20%);
  font-weight: 700;
}

.email-input,
.btn-form {
  border: 1px solid hsl(231, 7%, 60%);
  padding: 1rem;
  border-radius: 6px;
}

::placeholder {
  color: hsl(231, 7%, 60%);
  font-size: 15px;
}

.btn-form {
  background-color: hsl(234, 29%, 20%);
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}
